:root {
    --color-primary: #5593E8;
    --color-secondary: #406DBE;
    --color-tertiary: #313131;
    --color-letter: #F2B705;
    --color-fondo-footer: #96d3f2;
    --height-sessions: 170px;
}

.loading-overlay {
    display: none;
}

.hide{
    display: none !important;
}


.button {
    transition: background-color 300ms, box-shadow 0.15s ease, border-color 0.15s ease !important;
    height: 50px;
    display: flex !important;
    align-items: center;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.108);
}

input {
    height: 50px;
}

select {
    height: 50px;
}

#check1 {
    display: none;
}

#check2 {
    display: none;
}

.form-check-input:checked{
    background-image: linear-gradient(310deg, #393a84 0%, #336abf 100%) !important;
}

.container-footer{
    height: 4%;
    margin-top: 1%;
}

.container-flex{
    display: flex;
}

.container-items{
    width: 100%;
    text-align: center;
}

.item{
    font-size: 100%;
    font-weight: 700;
    text-decoration: none;
    color: unset;
    padding: 0.5%;
    text-align: center;
    margin: 0;
    transition: color 300ms;
}

.item:hover{
    color: var(--color-primary);
}

.page-header{
    min-height: 90vh; 
}


#items_container{
    min-height: 50px;
    height: auto !important;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2%;
}

.item_selected {
    min-width: 70px;
    height: max-content;
    border-radius: 50%;
    padding: 1.5% 5%;
    border: 2px solid #4CAF50;
    background-color: #f9f9f9;
    color: #4CAF50;
    text-align: center;
    transition: all 0.3s ease;
}

.item_selected:hover {
    background-color: #ff9393;
    border-color: #ff5151;
    color: white;
}

/* *************************************************************************************************************************** */

@media screen and (max-width: 470px){

    body {
        color: var(--color-tertiary) !important;
        background: white !important;
    }

    .contenedor-register{
        padding: 2% !important;
    }

    #register-footer{
        margin-top: 2% !important;
        color: slategray;
    }

    .bg-transparent-cel{
        background: transparent !important;
        box-shadow: none !important;
    }

    .text-cel-center h4{
        text-align: center !important;
        font-size: 200%;
    }

    .logo{
        height: 138px !important;
        margin: 10% 0 0 0;
    }

    .logo-register-cel-position {
        position: relative !important;
    }

    .flex-col-cel{
        display: flex;
        flex-direction: column !important;
    }

    .pd-cel{
        padding-left: 0;
        padding-right: 0;
    }
    
    .button:hover{
        background-color: rgb(174 186 202);
    }

    .text-white-cel{
        color: var(--color-tertiary);
    }
    
        .item{
    font-size: 70%;
}
}


@media screen and (min-width: 470px) and (max-width: 605px){
    .contenedor-register{
        padding: 7% !important;
    }
}


@media screen and (max-width: 991px){
    .page-header{
        min-height: auto; 
}
}