:root {
    --color-primary: #5593E8;
    --color-secondary: #406DBE;
    --color-tertiary: #313131;
    --color-letter: #F2B705;
    --color-fondo-footer: #96d3f2;
    --height-sessions: 170px;
}

.container-footer{
    height: 4%;
    margin-top: 1%;
}

.container-flex{
    display: flex;
}

.container-items{
    width: 100%;
    text-align: center;
}

.rojo{
    background: transparent;
}

.item{
    font-size: 100%;
    font-weight: 700;
    text-decoration: none;
    color: unset;
    padding: 0.5%;
    text-align: center;
    margin: 0;
    transition: color 300ms;
}

.item:hover{
    color: var(--color-primary);
}

.hide {
    display: none;
}

.items_container {
    min-height: 50px;
    height: auto !important;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.item_selected {
    min-width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    /* border-radius: .25rem; */
    border: 1px solid lightgray;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: 600;
    padding: 2% 5%;
    /* background-color: lightgray; */
    text-align: center;
    transition: all 0.3s ease;
    width: 100%;
    font-size: larger;
    cursor: default !important;
}

.item_selected_cliente {
    min-width: 100%;
    height: max-content;
    border-radius: .25rem;
    border: 1px solid lightgray;
    font-weight: 600;
    padding: 1.5% 5%;
    background-color: lightgray;
    text-align: center;
    transition: all 0.3s ease;
    cursor: default !important;
    width: 100%;
}

@media screen and (max-width: 470px){

    body {
        color: white !important;
        background: white !important;
    }

    input{
        font-size: 1.2rem !important;
    }

    select{
        font-size: 1.2rem !important;
    }

    textarea{
        font-size: 1.3rem !important;
    }

    span{
        font-size: 1.2rem !important;
    }

    .datos_pedido{
        color: var('--color-tertiary') !important;
        font-size: 1.2rem !important;
    }

    card-plain {
        text-align: center;
    }

    .contenedor-solicitud{
        padding: 0 !important;
    }

    .bg-transparent-cel{
        background: transparent !important;
        box-shadow: none !important;
    }

    .text-cel-center h4{
        font-size: 180%;
    }

    .flex-col-cel{
        display: flex;
        flex-direction: column !important;
    }

    .logo{
        height: 138px !important;
        margin: 10% 0 0 0;
    }

    .logo-solicitud-cel-position {
        position: relative !important;
    }

    .item{
    font-size: 70%;
    color: white;
    }

    .item_selected:hover .btn_borrar_item {
        color: lightgray;
    }

    .btn_borrar_item{
        color: gray;
        transform: translate(6px, 1px);
    }

    #comentariosC{
        color: var('--color-tertiary') !important;
    }
}

@media screen and (min-width: 471px) and (max-width: 991px){
    .contenedor-solicitud{
        padding: 7% !important;
    }
}

@media screen and (max-width: 991px){
    .page-header{
        min-height: auto;
}
}
