:root {
    --color-primary: #5593E8;
    --color-secondary: #406DBE;
    --color-tertiary: #313131;
    --color-letter: #F2B705;
    --color-fondo-footer: #96d3f2;
    --height-sessions: 170px;
}

.container-footer{
    height: 4%;
    margin-top: 1%;
}

.container-flex{
    display: flex;
}

.container-items{
    width: 100%;
    text-align: center;
}

.item{
    font-size: 100%;
    font-weight: 700;
    text-decoration: none;
    color: unset;
    padding: 0.5%;
    text-align: center;
    margin: 0;
    transition: color 300ms;
}

.item:hover{
    color: var(--color-primary);
}

.page-header{
    min-height: 90vh;   
}

/* *************************************************************************************************************************** */

@media screen and (max-width: 470px){

    body {
        color: var(--color-tertiary) !important;
        background: white !important;
    }

    .logo{
        height: 150px !important;
        margin: 10% 0 0 0;
    }

    .logo-reset-cel-position {
        position: relative !important;
    }

    .flex-col-cel{
        display: flex;
        flex-direction: column !important;
    }

    .btn-reset{
        padding: 5% !important;
    }

    .contenedor-reset{
        padding: 2% !important;
    }

    #reset-footer{
        margin-top: 2% !important;
        color: slategray;
    }

    .bg-transparent-cel{
        background: transparent !important;
        box-shadow: none !important;
    }
    
    .item{
    font-size: 70%;
}

}

@media screen and (min-width: 470px) and (max-width: 605px){
    .contenedor-change{
        padding: 7% !important;
    }
}

@media screen and (max-width: 991px){
    .page-header{
        min-height: auto; 
}
}
